/* Full Page Background */
.register-page, .login-page {
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.register-card, .login-card {
  width: 500px;
  background: #fff;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #222;
}

/* Input Styling */
.input-box {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #d3d7de;
  background: #d3d9e3;
  font-size: 15px;
  color: black;
}

.input-with-icon {
  position: relative;
}

.valid-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  color: green;
  font-size: 20px;
  font-weight: bold;
}

.invalid-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

/* Eye Icon */
.password-wrapper {
  position: relative;
}

.toggle-eye {
  position: absolute;
  right: 14px;
  top: 13px;
  cursor: pointer;
}

/* Buttons */
.login-btn, .register-btn {
  width: 100%;
  padding: 12px;
  background: #0b6b39;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover, .register-btn:hover {
  background: #09552e;
}

/* Bottom Links */
.register-text, .login-text {
  margin-top: 18px;
  font-size: 14px;
  color: #444;
}

.register-link, .login-link {
  color: #0066ff;
  font-weight: 600;
  text-decoration: none;
}

.register-link:hover, .login-link:hover {
  text-decoration: underline;
}
