--
-- PostgreSQL database dump
--

\restrict VvWgQ9fJLOjithDTndAAo0KtfKDMIHDt9mdrwPDetZtUxdFWoYEIPxdcG4WeaQG

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin (
    admin_id character varying(255) NOT NULL,
    department character varying(255),
    name character varying(255),
    password character varying(255),
    role character varying(255),
    active boolean NOT NULL,
    email character varying(255)
);


ALTER TABLE public.admin OWNER TO postgres;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    admin_id character varying(255) NOT NULL,
    department character varying(255),
    email character varying(255),
    name character varying(255),
    password character varying(255),
    role character varying(255)
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: amenity_request; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.amenity_request (
    id bigint NOT NULL,
    assigned_at timestamp(6) without time zone,
    class_room character varying(255),
    created_at timestamp(6) without time zone,
    delivered_at timestamp(6) without time zone,
    department character varying(255),
    professor_id character varying(255),
    professor_name character varying(255),
    sla_breached boolean NOT NULL,
    sla_deadline timestamp(6) without time zone,
    status character varying(255),
    assigned_staff_id character varying(255),
    assignment_deadline timestamp(6) without time zone,
    delivery_deadline timestamp(6) without time zone,
    assignment_sla_breached boolean,
    delivery_sla_breached boolean,
    CONSTRAINT amenity_request_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'ASSIGNED'::character varying, 'DELIVERED'::character varying, 'DELAYED'::character varying])::text[])))
);


ALTER TABLE public.amenity_request OWNER TO postgres;

--
-- Name: amenity_request_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.amenity_request ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.amenity_request_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: amenity_request_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.amenity_request_items (
    amenity_request_id bigint NOT NULL,
    item character varying(255)
);


ALTER TABLE public.amenity_request_items OWNER TO postgres;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance (
    id bigint NOT NULL,
    attendance_date date NOT NULL,
    class_code character varying(255) NOT NULL,
    present boolean NOT NULL,
    student_reg_no character varying(255) NOT NULL
);


ALTER TABLE public.attendance OWNER TO postgres;

--
-- Name: attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.attendance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.attendance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: canteen; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.canteen (
    id bigint NOT NULL,
    active boolean DEFAULT true NOT NULL,
    canteen_id character varying(255) NOT NULL,
    canteen_name character varying(255),
    contact_no character varying(255),
    password character varying(255),
    role character varying(255)
);


ALTER TABLE public.canteen OWNER TO postgres;

--
-- Name: canteen_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.canteen ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.canteen_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: canteen_master; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.canteen_master (
    canteen_id character varying(255) NOT NULL,
    active boolean NOT NULL,
    canteen_name character varying(255),
    location character varying(255),
    upi_id character varying(255)
);


ALTER TABLE public.canteen_master OWNER TO postgres;

--
-- Name: canteen_order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.canteen_order_items (
    order_id bigint NOT NULL,
    item_id bigint,
    quantity integer,
    item_name character varying(255)
);


ALTER TABLE public.canteen_order_items OWNER TO postgres;

--
-- Name: canteen_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.canteen_orders (
    id bigint NOT NULL,
    cabin_location character varying(255),
    canteen_id character varying(255),
    created_at timestamp(6) without time zone,
    professor_id character varying(255),
    professor_name character varying(255),
    status character varying(255),
    total_amount double precision NOT NULL,
    payment_mode character varying(255),
    canteen_contact_no character varying(255),
    payment_status character varying(255),
    CONSTRAINT canteen_orders_payment_status_check CHECK (((payment_status)::text = ANY ((ARRAY['PENDING'::character varying, 'PAID'::character varying])::text[]))),
    CONSTRAINT canteen_orders_status_check CHECK (((status)::text = ANY ((ARRAY['PLACED'::character varying, 'PREPARING'::character varying, 'READY'::character varying, 'DELIVERED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.canteen_orders OWNER TO postgres;

--
-- Name: canteen_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.canteen_orders ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.canteen_orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: class_enrollment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class_enrollment (
    id bigint NOT NULL,
    class_code character varying(255) NOT NULL,
    class_room_id bigint NOT NULL,
    student_reg_no character varying(255) NOT NULL
);


ALTER TABLE public.class_enrollment OWNER TO postgres;

--
-- Name: class_enrollment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.class_enrollment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.class_enrollment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: class_enrollment_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.class_enrollment_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.class_enrollment_seq OWNER TO postgres;

--
-- Name: class_rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class_rooms (
    id bigint NOT NULL,
    class_code character varying(255) NOT NULL,
    class_name character varying(255),
    created_at timestamp(6) without time zone,
    prof_id character varying(255) NOT NULL
);


ALTER TABLE public.class_rooms OWNER TO postgres;

--
-- Name: class_rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.class_rooms ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.class_rooms_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: menu_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.menu_item (
    id bigint NOT NULL,
    available boolean NOT NULL,
    canteen_id character varying(255),
    name character varying(255),
    price double precision NOT NULL,
    image_url character varying(255)
);


ALTER TABLE public.menu_item OWNER TO postgres;

--
-- Name: menu_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.menu_item ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.menu_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notice (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    message character varying(2000),
    title character varying(255),
    created_by_prof_id character varying(255)
);


ALTER TABLE public.notice OWNER TO postgres;

--
-- Name: notice_class_mapping; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notice_class_mapping (
    id bigint NOT NULL,
    class_code character varying(255),
    notice_id bigint
);


ALTER TABLE public.notice_class_mapping OWNER TO postgres;

--
-- Name: notice_class_mapping_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notice_class_mapping ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notice_class_mapping_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: professor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.professor (
    prof_id character varying(255) NOT NULL,
    contact_no character varying(255),
    department character varying(255),
    email character varying(255),
    name character varying(255),
    password character varying(255),
    role character varying(255)
);


ALTER TABLE public.professor OWNER TO postgres;

--
-- Name: professor_master; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.professor_master (
    prof_id character varying(255) NOT NULL,
    department character varying(255),
    name character varying(255)
);


ALTER TABLE public.professor_master OWNER TO postgres;

--
-- Name: staff; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staff (
    staff_id character varying(255) NOT NULL,
    available boolean NOT NULL,
    department character varying(255),
    name character varying(255),
    password character varying(255),
    role character varying(255),
    online boolean DEFAULT false NOT NULL,
    password_set boolean DEFAULT false NOT NULL,
    contact_no character varying(255),
    stars integer,
    total_deliveries integer
);


ALTER TABLE public.staff OWNER TO postgres;

--
-- Name: student; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student (
    reg_no character varying(255) NOT NULL,
    branch character varying(255),
    contact_no character varying(255),
    name character varying(255),
    password character varying(255),
    role character varying(255),
    year character varying(255)
);


ALTER TABLE public.student OWNER TO postgres;

--
-- Name: student_classes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_classes (
    id bigint NOT NULL,
    class_code character varying(255) NOT NULL,
    student_reg_no character varying(255) NOT NULL
);


ALTER TABLE public.student_classes OWNER TO postgres;

--
-- Name: student_classes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.student_classes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.student_classes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: student_master; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_master (
    reg_no character varying(255) NOT NULL,
    branch character varying(255),
    name character varying(255),
    year character varying(255)
);


ALTER TABLE public.student_master OWNER TO postgres;

--
-- Data for Name: admin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admin (admin_id, department, name, password, role, active, email) FROM stdin;
ADM-CSE	CSE	Gulshan	$2a$10$ErrL/rLiHf3MC7nbLX/JOOBr.RbiB046WIbPl/vZXzS90sWfjs.cq	ADMIN	t	gulshan@gmail.com
\.


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admins (admin_id, department, email, name, password, role) FROM stdin;
\.


--
-- Data for Name: amenity_request; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: amenity_request_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.amenity_request_items (amenity_request_id, item) FROM stdin;
1	chalk
1	duster
1	stylus
1	water bottle
2	Water Bottle
2	AC off
3	AC remote
3	Projector keys
4	Projector keys
4	Water bottle
4	chalk red
5	duster
6	Red blue yellow chalk
6	water
7	marker
8	water
8	chalk
9	chalk
9	duster
10	chalk
10	AC
11	water bottle
11	chalk
11	ac off
12	marker
13	fhgf
\.


--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: canteen; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.canteen (id, active, canteen_id, canteen_name, contact_no, password, role) FROM stdin;
3	t	YC01	Yamuna Canteen	3464665451	$2a$10$IBiFKQfWZqD86u6DvGT5SupjQVvofDz8fwYWrDdVJ0e9VGkwn0jo.	CANTEEN
4	t	MD01	Mr. Dewsis	32148974654	$2a$10$WUaZq0DtfAH96fiYRCg.pOj.wxwNmerYRWIXMxpR4R72MBzjeinh6	CANTEEN
\.


--
-- Data for Name: canteen_master; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.canteen_master (canteen_id, active, canteen_name, location, upi_id) FROM stdin;
MD01	t	Mr. Dewsis	Saraswati Gate	\N
JC01	t	Juice Corner	SVBH	\N
TC01	t	Teerath Canteen	Tandon Hostel	\N
C9601	t	Cafe96	Bank of Baroda	\N
PS01	t	Pizza Slice	Tandon Hostel	\N
YC01	t	Yamuna Canteen	Yamuna Gate	srivastavarishabh799-1@oksbi
\.


--
-- Data for Name: canteen_order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: canteen_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: class_enrollment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.class_enrollment (id, class_code, class_room_id, student_reg_no) FROM stdin;
23	PHYSICS-06234E	15	20243236
24	PHYSICS-06234E	15	20243218
25	PHYSICS-06234E	15	20243210
26	CHEMISTRY-43D28E	17	20243210
27	MATHEMATICS-36D96C	16	20243210
28	CHEMISTRY-43D28E	17	20243218
29	MATHEMATICS-36D96C	16	20243218
30	CHEMISTRY-43D28E	17	20243236
31	MATHEMATICS-36D96C	16	20243236
32	COMPUTERARCHITECTURE-01B7CF	19	20243236
33	COMPUTERARCHITECTURE-01B7CF	19	20243210
34	COMPUTERARCHITECTURE-01B7CF	19	20243218
\.


--
-- Data for Name: class_rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.class_rooms (id, class_code, class_name, created_at, prof_id) FROM stdin;
15	PHYSICS-06234E	Physics	2025-12-18 15:43:05.133898	P101
16	MATHEMATICS-36D96C	Mathematics	2025-12-18 15:47:16.811928	P101
17	CHEMISTRY-43D28E	Chemistry	2025-12-18 15:47:28.479444	P101
19	COMPUTERARCHITECTURE-01B7CF	Computer Architecture	2025-12-18 23:59:30.067866	P101
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.flyway_schema_history (installed_rank, version, description, type, script, checksum, installed_by, installed_on, execution_time, success) FROM stdin;
\.


--
-- Data for Name: menu_item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notice; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notice_class_mapping; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: professor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.professor (prof_id, contact_no, department, email, name, password, role) FROM stdin;
P101	1234567890	CSE	rahulK@mnnit.ac.in	Rahul Kumar	$2a$10$2uFnUgj5yS.oGCOwAquU3.FfoZuXaehagjBQHwHYYNGQzBlg/cXXa	PROFESSOR
P102	2113649665	Mathematics	Gnath@mnnit.ac.in	Gorakhnath	$2a$10$cglmYtIJZTss3Gi6R2JN9usfxBHwpBNUKwp3i4/JsgAjFqCyYTGGi	PROFESSOR
\.


--
-- Data for Name: professor_master; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.professor_master (prof_id, department, name) FROM stdin;
P101	CSE	Rahul Sharma
P102	Mathematics	Gorakhnath
P103	Mathematics	B.Vasu
P104	CSE	Vibhav
P105	CSE	Amit Vishwas
P106	Civil	Neeraj
\.


--
-- Data for Name: staff; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.staff (staff_id, available, department, name, password, role, online, password_set, contact_no, stars, total_deliveries) FROM stdin;
STF-03	t	CSE	Satish	\N	STAFF	f	f	\N	0	0
STF-04	t	CSE	Surendra	\N	STAFF	f	f	\N	0	0
STF-01	f	CSE	Satpal	$2a$10$QLQWO2h7.aOYlLT5KRQHLOq7rmMKjZwaa1pd6n.0Wwc0Y1hvV2nSi	STAFF	t	f	785466961	0	0
STF-02	t	CSE	Ramesh	$2a$10$2f4SiVkIUlG105Mmjly/v.rSiqDeRQHNncflC9BvCIc9VswCLUPbO	STAFF	t	f	545548521	2	2
\.


--
-- Data for Name: student; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student (reg_no, branch, contact_no, name, password, role, year) FROM stdin;
20243236	CSE	65649798444	Rishabh	$2a$10$jxRubpSlMxZ/pZupFX4xmetxabXll2wCfggB.YV2KzS01EA2heFia	STUDENT	2
20243218	CSE	2114545488	Prince	$2a$10$ZmngPgG5gv1PPYvLfMCANeFNqUxjSuR2KgJsWsDVgcJ4pl0kVUJWS	STUDENT	2
20243210	CSE	545454878745	Pranav	$2a$10$C7TOA3RwoLI.N7MkmYLO4eskhNe1jU.2W0x7D7by9DvlFTEPiaL2u	STUDENT	2
\.


--
-- Data for Name: student_classes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_classes (id, class_code, student_reg_no) FROM stdin;
1	ANALYSISOFALGORITHMS-E44DD0	20243236
2	DBMS-01E98E	20243236
3	COMPUTERARCHITECTURE-2F972D	20243236
4	MATHEMATICS-5FB5AC	20243236
5	OOPS-2F2168	20243236
\.


--
-- Data for Name: student_master; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_master (reg_no, branch, name, year) FROM stdin;
20243236	CSE	Rishabh	2
20243218	CSE	Prince	2
20243210	CSE	Pranav	2
20243230	CSE	Rajeev	2
\.


--
-- Name: amenity_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.amenity_request_id_seq', 13, true);


--
-- Name: attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attendance_id_seq', 55, true);


--
-- Name: canteen_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.canteen_id_seq', 4, true);


--
-- Name: canteen_orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.canteen_orders_id_seq', 25, true);


--
-- Name: class_enrollment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.class_enrollment_id_seq', 34, true);


--
-- Name: class_enrollment_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.class_enrollment_seq', 1, false);


--
-- Name: class_rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.class_rooms_id_seq', 19, true);


--
-- Name: menu_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.menu_item_id_seq', 15, true);


--
-- Name: notice_class_mapping_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notice_class_mapping_id_seq', 21, true);


--
-- Name: notice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notice_id_seq', 6, true);


--
-- Name: student_classes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.student_classes_id_seq', 5, true);


--
-- Name: admin admin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_pkey PRIMARY KEY (admin_id);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (admin_id);


--
-- Name: amenity_request amenity_request_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.amenity_request
    ADD CONSTRAINT amenity_request_pkey PRIMARY KEY (id);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (id);


--
-- Name: canteen_master canteen_master_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.canteen_master
    ADD CONSTRAINT canteen_master_pkey PRIMARY KEY (canteen_id);


--
-- Name: canteen_orders canteen_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.canteen_orders
    ADD CONSTRAINT canteen_orders_pkey PRIMARY KEY (id);


--
-- Name: canteen canteen_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.canteen
    ADD CONSTRAINT canteen_pkey PRIMARY KEY (id);


--
-- Name: class_enrollment class_enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_enrollment
    ADD CONSTRAINT class_enrollment_pkey PRIMARY KEY (id);


--
-- Name: class_rooms class_rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_rooms
    ADD CONSTRAINT class_rooms_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: menu_item menu_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_item
    ADD CONSTRAINT menu_item_pkey PRIMARY KEY (id);


--
-- Name: notice_class_mapping notice_class_mapping_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notice_class_mapping
    ADD CONSTRAINT notice_class_mapping_pkey PRIMARY KEY (id);


--
-- Name: notice notice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notice
    ADD CONSTRAINT notice_pkey PRIMARY KEY (id);


--
-- Name: professor_master professor_master_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.professor_master
    ADD CONSTRAINT professor_master_pkey PRIMARY KEY (prof_id);


--
-- Name: professor professor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.professor
    ADD CONSTRAINT professor_pkey PRIMARY KEY (prof_id);


--
-- Name: staff staff_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_pkey PRIMARY KEY (staff_id);


--
-- Name: student_classes student_classes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_classes
    ADD CONSTRAINT student_classes_pkey PRIMARY KEY (id);


--
-- Name: student_master student_master_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_master
    ADD CONSTRAINT student_master_pkey PRIMARY KEY (reg_no);


--
-- Name: student student_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_pkey PRIMARY KEY (reg_no);


--
-- Name: admins uk47bvqemyk6vlm0w7crc3opdd4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT uk47bvqemyk6vlm0w7crc3opdd4 UNIQUE (email);


--
-- Name: student_classes ukbnjstkxgrqpf7wp3vvjk337ba; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_classes
    ADD CONSTRAINT ukbnjstkxgrqpf7wp3vvjk337ba UNIQUE (student_reg_no, class_code);


--
-- Name: admin ukc0r9atamxvbhjjvy5j8da1kam; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT ukc0r9atamxvbhjjvy5j8da1kam UNIQUE (email);


--
-- Name: attendance ukglfkiighpw0xedpxf6s45vlmx; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT ukglfkiighpw0xedpxf6s45vlmx UNIQUE (class_code, student_reg_no, attendance_date);


--
-- Name: class_rooms ukguqeh97oon46fs8q0u9h3k4xm; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_rooms
    ADD CONSTRAINT ukguqeh97oon46fs8q0u9h3k4xm UNIQUE (class_code);


--
-- Name: professor ukqjm28ojevoom770jyieljec3e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.professor
    ADD CONSTRAINT ukqjm28ojevoom770jyieljec3e UNIQUE (email);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: notice fk5j0nr75d678qfmq94nteg32t1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notice
    ADD CONSTRAINT fk5j0nr75d678qfmq94nteg32t1 FOREIGN KEY (created_by_prof_id) REFERENCES public.professor(prof_id);


--
-- Name: amenity_request fk5l0x3cil0uov6gm45omijg8iq; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.amenity_request
    ADD CONSTRAINT fk5l0x3cil0uov6gm45omijg8iq FOREIGN KEY (assigned_staff_id) REFERENCES public.staff(staff_id);


--
-- Name: class_rooms fk6dd92ymwy91rg8mlsh0gjplhn; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_rooms
    ADD CONSTRAINT fk6dd92ymwy91rg8mlsh0gjplhn FOREIGN KEY (prof_id) REFERENCES public.professor(prof_id);


--
-- Name: notice_class_mapping fkavnm7uqywqpw39bhgntnefv1q; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notice_class_mapping
    ADD CONSTRAINT fkavnm7uqywqpw39bhgntnefv1q FOREIGN KEY (notice_id) REFERENCES public.notice(id);


--
-- Name: amenity_request_items fkdvhghafqs6r9151xyq3tfcsry; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.amenity_request_items
    ADD CONSTRAINT fkdvhghafqs6r9151xyq3tfcsry FOREIGN KEY (amenity_request_id) REFERENCES public.amenity_request(id);


--
-- Name: canteen_order_items fkk5qlcmd1ib8oqe00yb8rb3py8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.canteen_order_items
    ADD CONSTRAINT fkk5qlcmd1ib8oqe00yb8rb3py8 FOREIGN KEY (order_id) REFERENCES public.canteen_orders(id);


--
-- Name: class_enrollment fknu2ren6ou8f0yj1l19p6c1jao; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_enrollment
    ADD CONSTRAINT fknu2ren6ou8f0yj1l19p6c1jao FOREIGN KEY (class_room_id) REFERENCES public.class_rooms(id);


--
-- Name: class_enrollment fksoiiekl81y28qjl5htl6rpkir; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_enrollment
    ADD CONSTRAINT fksoiiekl81y28qjl5htl6rpkir FOREIGN KEY (student_reg_no) REFERENCES public.student(reg_no);


--
-- PostgreSQL database dump complete
--

\unrestrict VvWgQ9fJLOjithDTndAAo0KtfKDMIHDt9mdrwPDetZtUxdFWoYEIPxdcG4WeaQG

